In [1]:
import pandas as pd

In [14]:
df_vcf = pd.read_csv('snp_result.vcf', sep='\t', skiprows= 28)
df_vcf = df_vcf.drop(['FILTER', 'INFO','FORMAT','ID'], axis=1)
df_vcf

        #CHROM    POS REF ALT      QUAL alignment_sorted.bam
0   MN908947.3    210   G   T  126.0000        0/1:159,0,206
1   MN908947.3    241   C   T  225.0000        1/1:255,255,0
2   MN908947.3   1404   C   T   52.0000         0/1:86,0,173
3   MN908947.3   2832   A   G  121.0000        0/1:154,0,206
4   MN908947.3   3037   C   T  225.0000        1/1:255,255,0
..         ...    ...  ..  ..       ...                  ...
90  MN908947.3  28883   G   C  151.0000        0/1:184,0,212
91  MN908947.3  28916   G   T   52.0000         0/1:86,0,173
92  MN908947.3  29402   G   T  125.0000        0/1:158,0,207
93  MN908947.3  29742   G   T  134.0000        0/1:167,0,206
94  MN908947.3  29743   C   T   18.8032         0/1:53,0,150

[95 rows x 6 columns]

In [11]:
df = pd.read_csv('example.chr22.study.gens', sep=' ', header=None).drop([0,1,2,3,4],axis=1)
# df
print(len(df.columns))

750

In [9]:
df_map = pd.read_csv('example.chr22.map', sep = ' ')
df_map

     position  COMBINED_rate.cM.Mb.  Genetic_Map.cM.
0    20299958              0.005679        15.010610
1    20301041              0.005679        15.010616
2    20303319              0.005679        15.010629
3    20304703              0.005657        15.010637
4    20306934              0.005650        15.010650
..        ...                   ...              ...
257  20596808              0.249742        15.213727
258  20596938              0.247894        15.213759
259  20599114              0.245413        15.214299
260  20599877              0.245121        15.214486
261  20601061              0.249011        15.214776

[262 rows x 3 columns]

In [7]:
df_out =c
df_out

,0,1,2,3,4,5,6,7,8,9,...,745,746,747,748,749,750,751,752,753,754
0,---,rs5754787,20400130,A,G,0.000,0.002,0.998,0.000,0.002,...,0.998,0.000,0.002,0.998,0.000,0.638,0.362,0.000,0.002,0.998
1,---,rs5754789,20400241,G,A,0.005,0.990,0.006,0.005,0.981,...,0.005,0.964,0.036,0.000,0.438,0.560,0.002,0.956,0.043,0.000
2,---,rs5754790,20400271,A,G,0.005,0.989,0.006,0.005,0.981,...,0.005,0.964,0.036,0.000,0.438,0.559,0.002,0.956,0.043,0.000
3,---,rs2329827,20400489,C,T,0.005,0.988,0.006,0.005,0.980,...,0.006,0.962,0.037,0.000,0.443,0.555,0.003,0.955,0.045,0.000
4,---,rs7286932,20400543,A,C,0.682,0.317,0.001,0.615,0.384,...,0.008,0.555,0.397,0.048,0.720,0.254,0.026,0.456,0.464,0.080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,---,rs4821336,20499057,T,C,0.998,0.002,0.000,0.998,0.002,...,0.000,0.998,0.002,0.000,0.017,0.982,0.000,0.998,0.002,0.000
236,---,22-20499140,20499140,A,C,0.998,0.002,0.000,0.998,0.002,...,0.000,0.800,0.200,0.000,0.998,0.002,0.000,0.859,0.141,0.000
237,---,rs4821337,20499149,G,C,0.000,0.998,0.000,0.000,0.998,...,0.008,0.682,0.318,0.000,0.997,0.003,0.000,0.624,0.376,0.000
238,---,rs4821339,20499199,G,T,0.000,0.998,0.000,0.000,0.998,...,0.002,0.001,0.998,0.000,0.017,0.982,0.000,0.001,0.998,0.000
239,---,rs73149947,20499510,C,T,0.875,0.125,0.000,0.861,0.139,...,0.000,0.896,0.104,0.000,0.948,0.052,0.000,0.870,0.130,0.000

In [8]:
df_out[0].value_counts()

---              225
SNP_A-2269454      1
SNP_A-1839619      1
SNP_A-1844316      1
SNP_A-2102470      1
SNP_A-2061399      1
SNP_A-1881136      1
SNP_A-4244267      1
SNP_A-2270792      1
SNP_A-1880487      1
SNP_A-4243307      1
SNP_A-4245033      1
SNP_A-2120047      1
SNP_A-4298195      1
SNP_A-1970721      1
SNP_A-4201707      1
Name: 0, dtype: int64

In [31]:
df_ref_gen = pd.read_csv('example.chr22.reference.gens', sep=' ', header=None)
# df_ref_gen = df_ref_gen.drop([0,1,2], axis=1)
df_ref_gen

,0,1,2,3,4,5,6,7,8,9,...,442,443,444,445,446,447,448,449,450,451
0,SNP_A-2185542,rs4821116,20303319,C,T,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
1,22-rs5754387,rs5754387,20304703,G,C,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
2,22-rs364962,rs364962,20306407,A,G,0,0,1,0,0,...,1,0,0,1,0,0,1,0,0,1
3,22-rs7444,rs7444,20306934,T,C,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
4,22-rs11089637,rs11089637,20309096,G,A,0,0,1,0,1,...,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,22-rs6000043,rs6000043,20590441,C,T,0,1,0,1,0,...,0,0,0,1,1,0,0,0,1,0
112,22-rs8142618,rs8142618,20592057,A,G,0,0,1,0,1,...,0,0,0,1,0,1,0,1,0,0
113,22-rs8143081,rs8143081,20592369,A,G,0,0,1,0,1,...,0,0,0,1,0,1,0,1,0,0
114,22-rs240054,rs240054,20596577,T,C,0,0,1,0,0,...,0,0,0,1,0,0,1,0,1,0
115,SNP_A-1895005,rs240055,20596808,T,C,0,0,1,0,0,...,1,0,0,1,0,0,1,0,1,0

In [36]:
df_study_gen = pd.read_csv('example.chr22.study.gens', sep=' ', header=None)
df_study_gen = df_study_gen.drop([0,1,2], axis=1)
df_study_gen

,3,4,5,6,7,8,9,10,11,12,...,745,746,747,748,749,750,751,752,753,754
0,A,G,0,0,1,0,1,0,0,0.0000,...,1.0000,0,1.000,0.000,0.0000,1.0000,0.0000,0,0,1
1,G,T,0,1,0,0,1,0,0,1.0000,...,0.0000,1,0.000,0.000,1.0000,0.0000,0.0000,1,0,0
2,A,G,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,1.0000,0.0000,0.0000,1,0,0
3,A,G,1,0,0,0,1,0,1,0.0000,...,0.0000,0,1.000,0.000,1.0000,0.0000,0.0000,0,0,1
4,A,G,0,1,0,0,1,0,0,1.0000,...,0.0000,0,0.000,1.000,0.0000,0.0000,1.0000,0,0,1
5,A,G,0,0,1,0,0,1,0,0.0000,...,0.8738,0,0.000,1.000,0.0000,0.0051,0.9948,0,0,1
6,C,T,0,1,0,0,1,0,0,1.0000,...,0.0000,1,0.000,0.000,1.0000,0.0000,0.0000,1,0,0
7,C,G,0,0,1,0,0,1,0,0.0000,...,1.0000,0,0.009,0.991,0.0000,1.0000,0.0000,0,0,1
8,C,T,0,1,0,1,0,0,0,1.0000,...,0.0000,0,1.000,0.000,0.0000,1.0000,0.0000,1,0,0
9,A,G,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,0.0000,1.0000,0.0000,1,0,0
10,A,G,0,0,1,0,1,0,0,0.0000,...,1.0000,0,1.000,0.000,0.0000,1.0000,0.0000,1,0,0
11,C,T,0,1,0,0,0,1,0,1.0000,...,0.0000,0,1.000,0.000,0.0000,1.0000,0.0000,0,0,1
12,A,G,0,0,1,0,0,1,0,0.0000,...,1.0000,0,0.000,1.000,0.0000,1.0000,0.0000,0,0,1
13,A,T,0,0,1,0,0,1,0,0.0000,...,1.0000,0,0.000,1.000,0.0000,1.0000,0.0000,0,0,1
14,C,G,0,0,1,0,0,1,0,0.0012,...,1.0000,0,0.000,1.000,0.0432,0.9567,0.0000,0,0,1
15,A,C,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,0.0000,1.0000,0.0000,1,0,0
16,A,C,0,0,1,0,0,1,0,0.0000,...,1.0000,0,0.000,1.000,0.0000,1.0000,0.0000,0,0,1
17,C,G,0,0,1,0,0,1,0,0.0000,...,1.0000,0,0.000,1.000,0.0000,0.0000,1.0000,0,0,1
18,C,T,0,1,0,0,1,0,0,1.0000,...,1.0000,0,0.000,1.000,0.0000,0.0000,1.0000,0,0,1
19,A,C,0,1,0,0,0,1,0,0.0000,...,0.0000,0,0.000,1.000,0.0000,1.0000,0.0000,0,0,1
20,A,C,0,1,0,0,1,0,0,1.0000,...,0.0000,0,1.000,0.000,0.0000,1.0000,0.0000,0,1,0
21,C,T,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,0.0000,1.0000,0.0000,1,0,0
22,C,T,0,1,0,0,1,0,0,1.0000,...,0.0000,0,1.000,0.000,0.0000,1.0000,0.0000,0,1,0
23,A,G,0,1,0,0,1,0,0,1.0000,...,0.0000,0,1.000,0.000,0.0000,1.0000,0.0000,0,1,0
24,C,T,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,0.0000,1.0000,0.0000,1,0,0
25,C,T,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,1.0000,0.0000,0.0000,1,0,0
26,C,T,0,1,0,0,1,0,0,1.0000,...,0.0000,0,1.000,0.000,0.0000,1.0000,0.0000,0,1,0
27,G,T,0,1,0,0,1,0,0,1.0000,...,0.0000,0,1.000,0.000,0.0000,0.0000,1.0000,0,1,0
28,A,C,0,1,0,0,1,0,0,1.0000,...,1.0000,0,0.000,1.000,0.0000,0.0000,1.0000,0,0,1
29,A,G,0,1,0,0,1,0,0,1.0000,...,1.0000,0,1.000,0.000,0.0000,1.0000,0.0000,0,1,0
30,C,T,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,1.0000,0.0000,0.0000,1,0,0
31,A,T,1,0,0,1,0,0,1,0.0000,...,0.0000,1,0.000,0.000,1.0000,0.0000,0.0000,1,0,0
32,C,T,1,0,0,1,0,0,1,0.0000,...,0.0000,0,1.000,0.000,1.0000,0.0000,0.0000,0,1,0

In [12]:
df_ref_hap = pd.read_csv('example.chr22.1kG.haps', sep = ' ', header=None)
df_ref_hap

,0,1,2,3,4,5,6,7,8,9,...,102,103,104,105,106,107,108,109,110,111
0,1,1,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
1,1,1,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
2,0,1,0,1,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
786,1,0,0,1,1,1,0,0,1,1,...,0,1,1,0,1,1,1,0,1,0
787,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
788,1,0,0,1,1,1,0,0,1,1,...,0,1,1,0,1,1,1,0,1,0
789,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [27]:
df_legend_ref = pd.read_csv('example.chr22.1kG.legend', sep=' ')
df_legend_ref

            rsID  position a0 a1
0      rs4821114  20300810  G  C
1       rs738128  20301010  G  A
2       rs738129  20301041  C  T
3    22-20301183  20301183  C  G
4    22-20301453  20301453  G  A
..           ...       ... .. ..
785    rs6000072  20598287  G  A
786    rs5756052  20598759  A  G
787    rs5995189  20598772  G  A
788    rs5756053  20598918  A  G
789     rs240057  20599707  T  C

[790 rows x 4 columns]